.nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
}

a {
    text-decoration: none;
    cursor: pointer;
}