.pos-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:
        inset 10px 10px 20px #bebebe,
        inset -10px -10px 20px #ffffff;
    transition: 0.3s ease all;
}

/* --Header Styles-- */

.header-container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    
}

.header-title{
    font-weight: 700;
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
    
}
.logo {
    width: 60px;
    aspect-ratio: 1/1;
    height: auto;
}


/* Cashier Info Styles */
.cashier-info-container {
    display: grid;
    grid-template-columns: auto .5fr auto .5fr auto .5fr ; /* Columns adjust to content */
    height: fit-content;
}

.cashier-info-container * {
    font-size: 0.8vw;
    padding-left: 5px;
    padding-right: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}




/* Table Container Styles */

.table-container {
    flex-grow: 1;
    border: 1px solid green;
}

/* Item Descriptions */

.item-descriptions {
    text-align: center;
}


/* Buttons Styles */

.buttons-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Input fields styles */

.cashier-info-container :nth-child(2),
.cashier-info-container :nth-child(6),
.cashier-info-container :nth-child(8),
.cashier-info-container :nth-child(12),
.cashier-info-container :nth-child(14),
.cashier-info-container :nth-child(20) {
  padding: 0 !important;
}


/* ---- PLEASE ADD A COLAPSE STATE --- */
/* .collapse{
    width : 0 !important;
    display: none;

} */