.pos-container {
    width: 50%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:
        inset 10px 10px 20px #bebebe,
        inset -10px -10px 20px #ffffff;
    transition: 0.3s ease all;
}




/* ---- PLEASE ADD A COLAPSE STATE --- */
/* .collapse{
    width : 0 !important;
    display: none;

} */