.page-container {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    background-color: #e0e0e0; /* soft light gray */
    display: flex;
    gap: 6px;
    flex-direction: row;
    border: 2px solid #ccc;
}
